@import "compass/css3";

header
{
  background-color: #FFF;
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.login
{
  padding-top: 10px
}

.login .navbar-inner
{
  min-height: 20px;
}

.login .navbar .nav > li > a

{
  padding: 10px 15px;
  color: #4D4D4D;
  font-size: 16px;
  font-weight: 600;
}

.login .icon-home{
  margin-top: 4px;
}

.login .navbar .divider-vertical 
{
  border-left: 1px solid #AFAFAF;
  border-right: 1px solid #AFAFAF;
  height: 20px;
  margin: 9px 0px;
}

.navbar .nav > li > a
{
  font-family: 'Titillium Web', sans-serif;
  font-style: bold;
  font-size: 20px;
  font-weight: 600;
  color: #C10B19; 
}

.navbar
{
  margin-bottom: 0px;
}

.navbar-inner
{
  background: none;
  border: none;
  box-shadow: none;
  padding: 0px;
}

.navbar .brand
{
  padding: 0px;
  margin-left: 0px;
  margin-top: -10px;
}

.navbar .divider-vertical 
{
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  height: 20px;
  margin: 9px 0px;
}

.navbar-search .search-query 
{
  background-color: #cccccc;
  @include border-radius(5px);
}

.logo
{
  width:250px;
  height: auto;
  top: 200px;
}


/*
.form-user h1
{
  font-family: 'Titillium Web', sans-serif;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  padding-left: 40px;
}

.form-user label
{
  font-family: 'Titillium Web', sans-serif;
  font-style: bold;
  font-weight: 600;
  color: #FFF;
  */