@import "compass/css3";

.form-user
{
  @include background(image-url("centroForm.png") no-repeat top center);
  height: 480px;
}

.form-user h1
{
	font-family: 'Titillium Web', sans-serif;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  padding-left: 40px;
}

.form-user label
{
  font-family: 'Titillium Web', sans-serif;
  font-style: bold;
  font-weight: 600;
  color: #FFF;
}

.form-register
{
  padding-top: 50px;
}

.form-login
{
  padding-top: 80px;  
}