<footer>
  <div class="container">
    <ul class="footer-links">
      <div class="navbar">
        <li><a href="">COMO FUNCIONA</a></li>
        <li class="divider-vertical"></li>
        <li><a href="">PREGUNTAS FRECUENTES</a></li>
        <li class="divider-vertical"></li>
        <li><a href="">CONTACTO</a></li>
      </div>
    </ul>
    <address>Llenemoslo, Las Condes, Santiago, Chile</address>
  </div>
</footer>
